
<div class="centered_container">


<div class="home_top_container">
	
<div class="home_top_slider">

			
			<div class="feed_border">
				<h2>WELCOME TO FOOTY</h2>
				<p>SKATE | FILM | SHARE</p>

			<!--<%= cl_image_tag("IMG_8589_co4izy.jpg", :crop => :fill, class: "homepage_photo_tag") %>-->
        	<!-- <h5 class="center">YOUR FOOTY™ DASHBOARD</h5> -->
<!-- 		      <%= link_to "POST FOOTY", new_post_path, class: "right_column_button"  %>
		      <%= link_to "CREATE EVENT", new_event_path, class: "right_column_button"  %> -->
		      <%= link_to "LOG IN", new_session_path, class: "right_column_button"  %>
		      <%= link_to "NEW ACCOUNT", new_user_path, class: "right_column_button"  %>
    	</div>
</div>
	<div class="home_top_object">
	<img class="home_top_photo" src="http://res.cloudinary.com/mckshreder/video/upload/c_fit,q_100,w_500/v1442030115/Garrettrefugioskate_fjme7s.gif">

		<div class="home_top_info">
		<h3>SKATE</h3>

		</div>
	</div>
	
	<div class="home_top_object">
	<img class="home_top_photo" src="http://res.cloudinary.com/mckshreder/video/upload/c_fill,g_center,h_500,w_500/v1441789298/ftrote5hahta3qyi2lq8.gif">

		<div class="home_top_info">
		<h3>FILM</h3>

		</div>
	</div>

	<div class="home_top_object">
	<img class="home_top_photo" src="http://res.cloudinary.com/mckshreder/video/upload/c_scale,h_500,w_500/v1442027508/lenny_mirror_slider_oirtqc.gif">

		<div class="home_top_info">
		<h3>SHARE</h3>

		</div>
	</div>

<!-- 
	<div class="home_top_object">
	<img class="home_top_photo" src="http://res.cloudinary.com/mckshreder/image/upload/c_thumb,h_500,w_500/v1442023243/kevin_boardslide_fvbsnk.jpg">

		<div class="home_top_info">
		<h3>Classifieds</h3>

		</div>
	</div>
	<div class="home_top_object">
	<img class="home_top_photo" src="http://res.cloudinary.com/mckshreder/image/upload/c_thumb,g_north,h_500,w_500/v1442023060/Isaac_Wallride_dpbpw2.jpg">

		<div class="home_top_info">

		</div>
	</div>
	<div class="home_top_object">
		<img class="home_top_photo" src="http://res.cloudinary.com/mckshreder/image/upload/c_thumb,h_500,q_100,w_500/v1441946922/Curtloks_LA-1_ua1fsx.jpg">
		
		<div class="home_top_info">

		</div>
	</div> -->
</div>

<div class="content">
	<!-- Start Demo -->

	<div class="cache">
		<!-- masks -->
		<img src="assets/masks/footylogo_sliderbase.svg">
		<img src="assets/masks/footy_preslider.svg">
		<img src="assets/masks/footylogo_sliderbackest.svg">
		<!-- photos -->
		<img src="http://res.cloudinary.com/mckshreder/image/upload/c_fill,h_960,w_1200/v1441947069/Pinnercrewmarvista_cysleq.jpg">
		<img src="http://res.cloudinary.com/mckshreder/image/upload/c_fill,h_960,w_1200/v1441947957/Issachandsgesture_i458la.jpg">
		<img src="http://res.cloudinary.com/mckshreder/image/upload/c_fill,h_960,w_1200/v1441947073/Curtmanny_hx6g9f.jpg">
	</div>

	<div class="wrapper feed_border">
		<div class="prism-slider">
			<ul class="navigation"></ul>
		</div>

		<div class="copy">
			<!-- <article> -->

			
			<div class="feed_border">
				<h1>WELCOME TO FOOTY</h1>
				<p>SKATE | FILM | SHARE<p>
				<!-- <p>Film, edit, and share a fun video or a "Sponsor me clip" with your best footy.</p>
				<p>Upload your video to our skateboarding classfields. </p> -->
				<p>Instantly share your footy with companies, friends, and family all around the world... for FREE!</p>

			<!--<%= cl_image_tag("IMG_8589_co4izy.jpg", :crop => :fill, class: "homepage_photo_tag") %>-->
        	<!-- <h5 class="center">YOUR FOOTY™ DASHBOARD</h5> -->
		      <%= link_to "POST FOOTY", new_post_path, class: "right_column_button"  %>
		      <%= link_to "CREATE EVENT", new_event_path, class: "right_column_button"  %>
		      <%= link_to "LOG IN", new_session_path, class: "right_column_button"  %>
		      <%= link_to "NEW ACCOUNT", new_user_path, class: "right_column_button"  %>
    	</div>
			
			
			<!-- </article> -->
		    
		</div>
	</div>


<div class="home_top_container">
		<div class="home_top_object">
	<img class="home_top_photo" src="http://res.cloudinary.com/mckshreder/image/upload/c_thumb,h_500,w_500/v1442023243/kevin_boardslide_fvbsnk.jpg">

		<div class="home_top_info">
		<h3>Classifieds</h3>

		</div>
	</div>
	<div class="home_top_object">
	<img class="home_top_photo" src="http://res.cloudinary.com/mckshreder/image/upload/c_thumb,g_north,h_500,w_500/v1442023060/Isaac_Wallride_dpbpw2.jpg">

		<div class="home_top_info">

		</div>
	</div>
	<div class="home_top_object">
		<img class="home_top_photo" src="http://res.cloudinary.com/mckshreder/image/upload/c_thumb,h_500,q_100,w_500/v1441946922/Curtloks_LA-1_ua1fsx.jpg">
		
		<div class="home_top_info">

		</div>
	</div>
</div>
	<!-- End Demo -->
</div>

		